html, body {
    margin: 200;
    padding: 200;
    background-color:lightblue;
}

p{
    text-align: center;
    margin: 200;
    padding: 200;
}
canvas {
    position: absolute;
    left: 100px;
    top: 100px;
    
  }
  
  
.canvasContainer{
    display: flex;
    
    
    /* style canvas container here */
}