html, body {
    margin: 200;
    padding: 200;
    background-color:lightblue;
}

p{
    text-align: center;
    margin: 200;
    padding: 200;
    
}
#title{
   
  font-size: 25px; 
  font-weight: bold;
  font-family: 'Syne Mono', monospace;
  
}
#subtitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
canvas {
    position: absolute;
    left: 500px;
    top: 120px;
    
  }
  
  
.canvasContainer{
    display: flex;
    
    
    /* style canvas container here */
}